source ~/.vimrc.keymap

set surround
set commentary
set number
set relativenumber
set visualbell

" Idea actions
nnoremap gd :action GotoDeclaration

" Disable ideavim in dialog
set dialogescape=off
set nooneline

